<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="come.glasses.dao.mapper.StockMapper">
  <resultMap id="BaseResultMap" type="come.glasses.entity.dto.stock.StockListDto">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="brand" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="brand_name" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="model" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="created_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="come.glasses.entity.StockEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stock (brand, type, model, 
      number, created_at, updated_at
      )
    values (#{brand,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{model,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="come.glasses.entity.StockEntity">
    update stock
    set brand = #{brand,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      model = #{model,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, brand, type, model, number, created_at, updated_at
    from stock
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, brand, type, model, number, created_at, updated_at
    from stock
  </select>
</mapper>