<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="come.glasses.dao.mapper.StockMapper">
  <resultMap id="BaseResultMap" type="come.glasses.entity.dto.stock.StockListDto">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="brand" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="brand_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="model" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="created_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="come.glasses.entity.StockEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stock (brand, type, model, 
      number
      )
    values (#{brand,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{model,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER}
      )
  </insert>

  <insert id="insertList" parameterType="java.util.List">
    insert into stock (brand, type, model,
    number)
    values
    <foreach collection="input" index="index" item="item" separator=",">
      (
      #{item.brand,jdbcType=INTEGER}, #{item.type,jdbcType=INTEGER},
      #{item.model,jdbcType=VARCHAR}, #{item.number,jdbcType=INTEGER}
      )
    </foreach>
  </insert>

  <update id="updateByPrimaryKey" parameterType="come.glasses.entity.StockEntity">
    update stock
    set brand = #{brand,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      model = #{model,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select s.id, s.brand, s.type, s.model, s.number, s.created_at, s.updated_at,
    b.name as brand_name
    from stock s
    left join brand b on b.id = s.brand
    where s.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select s.id, s.brand, s.type, s.model, s.number, s.created_at, s.updated_at,
    b.name as brand_name
    from stock s
    left join brand b on b.id = s.brand
    <where>
      <if test="input.brand != null">
        s.brand = #{input.brand}
      </if>
      <if test="input.type != null">
        and s.type = #{input.type}
      </if>
      <if test="input.name != null">
        and s.model LIKE concat('%', #{input.name},'%')
      </if>
    </where>
    limit #{input.offset}, #{input.pageSize}
  </select>
  <select id="countOperationLogs" resultType="java.lang.Integer">
    select count(*) from stock s
    <where>
      <if test="input.brand != null">
        s.brand = #{input.brand}
      </if>
      <if test="input.type != null">
        and s.type = #{input.type}
      </if>
      <if test="input.name != null">
        and s.model LIKE concat('%', #{input.name},'%')
      </if>
    </where>
  </select>
</mapper>